---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated fadeIn">
                    </a>
                    <h3 class="title">
                        <a class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <a href="{{ site.url }}">
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            </a>
                    </h3>
                    {% include social-links.html %}
                    <hr class="hr-line">
                    <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/about">
                         About
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/posts">
                         Publications
                         </a>
                         <a class="btn zoombtn" href="{{ site.url }}/projects">
                         Projects
                         </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <p style="font-size:1.2rem;font-weight:300">Updates</p>
                    </h3>
                    <h3 class="update-list">
                        <ul>
                            <li><p>11/19 - My work is showcased at the <a href="https://www.es.aau.dk/sections-labs/Signal-and-Information-Processing/">SIP</a> Open House (AAU).</p></li>
                            <li><p>09/19 - Talk at Universitat Pompeu Fabra on audio-visual speech enhancement for hearing assistive devices.</p></li>
                            <li><p>09/19 - Joining the <a href="http://www.gpi.upf.edu/home/">GPI</a> group at Universitat Pompeu Fabra for a research stay of 3 months.</p></li>
                            <li><p>05/19 - At ICASSP to Present <a href="https://danmic.github.io/avtargets/">On Training Targets and Objective Functions for Deep-Learning-Based Audio-Visual Speech Enhancement</a> and <a href="https://danmic.github.io/avlombard/">Effects of Lombard Reflex on the Performance of Deep-Learning-Based Audio-Visual Speech Enhancement Systems</a>.</p></li>
                            <li><p>01/19 - At AMLD2019 to present a short version of <a href="https://danmic.github.io/avlombard/">Effects of Lombard Reflex on the Performance of Deep-Learning-Based Audio-Visual Speech Enhancement Systems</a>.</p></li>
                            <li><p>12/18 - Talk at Oticon on audio-visual speech enhancement for hearing assistive devices.</p></li>
                            <li><p>10/18 - Lecture on deep multimodal fusion at AAU.</p></li>
                            <li><p>09/18 - Teaching assistant for the course “Machine Learning” at AAU.</p></li>
                            <li><p>07/18 - At ICVSS18 (In the winning group of the <a href="https://iplab.dmi.unict.it/icvss2018/">Reading Group Competition</a>!). </p></li>
                        </ul>
                    </h3>
            </div>
        </div>
    </header>
    {% include scripts.html %}
</body>
</html>
